@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(fonts/Lato/Lato-Light.ttf);
}

@media(min-width: 768px) and (max-width: 8000px) {
    .bar {
        display: grid;
        align-items: center;
        grid-template-columns: 0.45fr 1fr 0.6fr;
        width: 1600px;
        height: 75px;
        flex-shrink: 0;
        background: #222;
    }

    .logo {
        margin-left: 260px;
    }

    .menu-bar1 {
        display: block;
    }

    .menu-bar2 {
        display: none;
    }

    .background {
        display: grid;
        align-items: center;
        grid-template-columns: 0.5fr 0.5fr;
        width: 1600px;
        height: 764px;
        flex-shrink: 0;
        background: #F1E4E6;
    }

    .man-background {
        width: 800.58px;
        height: 764px;
        flex-shrink: 0;
    }

    #title {
        width: 405px;
        height: 93.099px;
        flex-shrink: 0;
        position: relative;
    }

    .txt1 {
        position: absolute;
        top: -40%;
        left: 7%;
        color: #222;
        font-family: Lato;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .txt2 {
        position: absolute;
        top: 35%;
        left: 7%;
        color: #222;
        font-family: Lato;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .txt3 {
        position: absolute;
        top: 35%;
        left: 67%;
        color: #F16D7F;
        font-family: Lato;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .offer {
        margin-top: 65px;;
        margin-left: 230px;
        width: 1140px;
        height: 470px;
        flex-shrink: 0;
    }

    .top {
        display: grid;
        grid-template-columns: 1.1fr 1.1fr 1fr;
        grid-column-gap: 10px;
        margin-bottom: 26px;
    }

    #women {
        position: relative;
    }.women-img {
        filter: brightness(35%);
        background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
    }
    .women-text-offer1 {
        position: absolute;
        top: 35%;
        left: 37%;
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .women-text-offer2 {
        position: absolute;
        top: 41%;
        left: 27%;
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #men {
        position: relative;
    }.men-img {
        filter: brightness(35%);
        background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
    }
    .men-text-offer1 {
        position: absolute;
        top: 35%;
        left: 37%;
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .men-text-offer2 {
        position: absolute;
        top: 41%;
        left: 33%;
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #kids {
        position: relative;
    }.kids-img {
        filter: brightness(35%);
        background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
    }
    .kids-text-offer1 {
        position: absolute;
        top: 35%;
        left: 37%;
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .kids-text-offer2 {
        position: absolute;
        top: 41%;
        left: 38%;
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #accesories {
        position: relative;
    }.accesories-img {
        filter: brightness(35%);
        background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
    }
    .accesories-text-offer1 {
        position: absolute;
        top: 34%;
        left: 37%;
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .accesories-text-offer2 {
        position: absolute;
        top: 43%;
        left: 37.5%;
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .products {
        width: 1140px;
        height: 1395px;
        flex-shrink: 0;
        margin-top: 96px;
        margin-left: 230px;
    }

    .products-title {
        display: flex;
        justify-content: center;
        color: #222;
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .products-paragraph {
        display: flex;
        justify-content: center;
        color: #9F9F9F;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: -15px;
    }

    .main {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;

    }

    .block {
        width: 360px;
        height: 581px;
    }

    .photo-block {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
        background: #F7E4E2;
    }

    .overlay-text {
        display: flex;
        width: 139px;
        height: 44px;
        flex-shrink: 0;
        margin-left: 120px;
        margin-top: -230px;
        z-index: 0;
        opacity: 0;
    }

    .img-buy {
        width: 26.005px;
        height: 23.974px;
        flex-shrink: 0;
    }

    .text-buy {
        color: #FFF;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 10px;
        margin-top: 5px;
    }

    .photo-block:hover {
        filter: brightness(35%);
        background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
    }

    .photo-block:hover .overlay-text {
        opacity: 1;
    }

    .text-block {
        max-width: 360px;
        max-height: 162px;
        background: #F8F8F8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-top: 24px;
        padding-left: 16px;
        padding-bottom: 5px;
    }

    .img1 {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
    }

    .img2 {
        width: 141.943px;
        height: 400px;
        flex-shrink: 0;
        margin-top: 9px;
        margin-left: 108px;
        
    }

    .img3 {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
    }

    .img4 {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
    }

    .img5 {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
    }

    .img6 {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
    }

    .img-txt {
        margin-top: 5px;
        width: 148.114px;
        color: #000;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .img-paragraph {
        margin-top: 5px;
        width: 314.743px;
        color: #5D5D5D;
        font-family: Lato-Light;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .img-price {
        margin-top: 5px;
        width: 52.457px;
        color: #F16D7F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }

    #button-browse-all-product {
        margin-top: 50px;
        margin-left: 455px;
        width: 212px;
        height: 48px;
        flex-shrink: 0;
        position: relative;
    }

    .button-txt {
        position: absolute;
        color: #F26376;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        top: 5%;
        left: 17%
    }
}


/* --------------------------------Tablet width --------------------------------------*/


@media(max-width: 768px) {
    .bar {
        display: grid;
        align-items: center;
        grid-template-columns: 0.28fr 1fr 0.5fr;
        width: 768px;
        height: 74px;
        flex-shrink: 0;
        background: #222;
    }

    .logo {
        margin-left: 32px;
    }

    .menu-bar1 {
        display: block;
    }

    .menu-bar2 {
        display: none;
    }

    .background {
        display: grid;
        align-items: center;
        grid-template-columns: 0.5fr 0.5fr;
        width: 769.572px;
        height: 367.567px;
        flex-shrink: 0;
        background: #F1E4E6;
    }

    .man-background {
        width: 386px;
        height: 368px;
        flex-shrink: 0;
    }

    #title {
        width: 311px;
        height: 92px;
        flex-shrink: 0;
        position: relative;
    }

    .pink-bar {
        width: 12px;
        height: 92px;
        flex-shrink: 0;
    }

    .txt1 {
        position: absolute;
        top: -25%;
        left: 10%;
        color: #222;
        font-family: Lato;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .txt2 {
        position: absolute;
        top: 45%;
        left: 10%;
        color: #222;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .txt3 {
        position: absolute;
        top: 45%;
        left: 68%;
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .offer {
        margin-top: 65px;
        margin-left: 15px;
        width: 735.999px;
        height: 303.043px;
        flex-shrink: 0;
    }

    .top {
        display: grid;
        grid-template-columns: 1.1fr 1.1fr 1fr;
        margin-bottom: 15px;
    }

    #women {
        position: relative;
    }.women-img {
        width: 231.973px;
        height: 167.617px;
        flex-shrink: 0;
        filter: brightness(35%);
        background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
    }
    .women-text-offer1 {
        position: absolute;
        top: 35%;
        left: 37%;
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .women-text-offer2 {
        position: absolute;
        top: 41%;
        left: 27%;
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #men {
        position: relative;
    }.men-img {
        width: 231.973px;
        height: 167.617px;
        flex-shrink: 0;
        filter: brightness(35%);
        background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
    }
    .men-text-offer1 {
        position: absolute;
        top: 35%;
        left: 37%;
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .men-text-offer2 {
        position: absolute;
        top: 41%;
        left: 33%;
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #kids {
        position: relative;
    }.kids-img {
        width: 232.392px;
        height: 167px;
        flex-shrink: 0;
        filter: brightness(35%);
        background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
    }
    .kids-text-offer1 {
        position: absolute;
        top: 35%;
        left: 37%;
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .kids-text-offer2 {
        position: absolute;
        top: 41%;
        left: 38%;
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #accesories {
        position: relative;
    }.accesories-img {
        width: 734.581px;
        height: 116.043px;
        flex-shrink: 0;
        filter: brightness(35%);
        background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
    }
    .accesories-text-offer1 {
        position: absolute;
        top: 34%;
        left: 37%;
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .accesories-text-offer2 {
        position: absolute;
        top: 43%;
        left: 37.5%;
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .products {
        width: 735.999px;
        height: 1920px;
        flex-shrink: 0;
        margin-top: 109px;
        margin-left: 16px;
    }

    .products-title {
        display: flex;
        justify-content: center;
        color: #222;
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .products-paragraph {
        display: flex;
        justify-content: center;
        color: #9F9F9F;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: -15px;
    }

    .main {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;

    }

    .block {
        width: 360px;
        height: 581px;
    }

    .photo-block {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
        background: #F7E4E2;
    }

    .overlay-text {
        display: flex;
        width: 139px;
        height: 44px;
        flex-shrink: 0;
        margin-left: 120px;
        margin-top: -230px;
        z-index: 0;
        opacity: 0;
    }

    .img-buy {
        width: 26.005px;
        height: 23.974px;
        flex-shrink: 0;
    }

    .text-buy {
        color: #FFF;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 10px;
        margin-top: 5px;
    }

    .photo-block:hover {
        filter: brightness(35%);
        background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
    }

    .photo-block:hover .overlay-text {
        opacity: 1;
    }


    .text-block {
        max-width: 360px;
        max-height: 162px;
        background: #F8F8F8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-top: 24px;
        padding-left: 16px;
        padding-bottom: 5px;
    }

    .img1 {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
    }

    .img2 {
        width: 141.943px;
        height: 400px;
        flex-shrink: 0;
        margin-top: 9px;
        margin-left: 108px;
        
    }

    .img3 {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
    }

    .img4 {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
    }

    .img5 {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
    }

    .img6 {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
    }

    .img-txt {
        margin-top: 5px;
        width: 148.114px;
        color: #000;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .img-paragraph {
        margin-top: 5px;
        width: 314.743px;
        color: #5D5D5D;
        font-family: Lato-Light;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .img-price {
        margin-top: 5px;
        width: 52.457px;
        color: #F16D7F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }

    #button-browse-all-product{
        margin-top: 32px;
        margin-left: 265px;
        width: 212px;
        height: 80px;
        flex-shrink: 0;
        position: relative;
    }

    .button-txt {
        position: absolute;
        color: #F26376;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        top: 5%;
        left: 17%
    }
}


/* --------------------------------Phone width --------------------------------------*/


@media(max-width: 375px) {
    .desktop {
        width: 375px;
        height: 5367px;
        background: #ffffff;
    }

    .bar {
        display: grid;
        align-items: center;
        grid-template-columns: 0.27fr 0.6fr 0.1fr;
        width: 375px;
        height: 74px;
        flex-shrink: 0;
        background: #222;
    }

    .logo {
        width: 44px;
        height: 38px;
        margin-left: 16px;
    }

    .menu-bar1 {
        display: none;
    }

    .menu-bar2 {
        display: block;
    }

    .background {
        display: grid;
        align-items: center;
        grid-template-columns: 0.5fr 0.5fr;
        width: 375px;
        height: 363px;
        flex-shrink: 0;
        background: #F1E4E6;
    }

    .man-background {
        display:none;
    }

    #title {
        margin-left: 56px;
        width: 311px;
        height: 92px;
        flex-shrink: 0;
        position: relative;
    }

    .pink-bar {
        width: 12px;
        height: 61px;
        flex-shrink: 0;
    }

    .txt1 {
        position: absolute;
        top: -35%;
        left: 7%;
        color: #222;
        font-family: Lato;
        font-size: 38px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .txt2 {
        position: absolute;
        top: 27%;
        left: 7%;
        color: #222;
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .txt3 {
        position: absolute;
        top: 27%;
        left: 55%;
        color: #F16D7F;
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .offer {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 65px;
        width: 375px;
        height: 980px;
        flex-shrink: 0;
        margin-left: 10px;
    }

    .top {
        display: grid;
        grid-template-columns: 1fr;
    }

    #women {
        position: relative;
    }.women-img {
        width: 343px;
        height: 247px;
        flex-shrink: 0;
        filter: brightness(35%);
        background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
    }
    .women-text-offer1 {
        position: absolute;
        top: 35%;
        left: 37%;
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .women-text-offer2 {
        position: absolute;
        top: 41%;
        left: 27%;
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #men {
        position: relative;
    }.men-img {
        width: 343px;
        height: 247px;
        flex-shrink: 0;
        filter: brightness(35%);
        background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
    }
    .men-text-offer1 {
        position: absolute;
        top: 35%;
        left: 37%;
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .men-text-offer2 {
        position: absolute;
        top: 41%;
        left: 33%;
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #kids {
        position: relative;
    }.kids-img {
        width: 343px;
        height: 247px;
        flex-shrink: 0;
        filter: brightness(35%);
        background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
    }
    .kids-text-offer1 {
        position: absolute;
        top: 35%;
        left: 32%;
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .kids-text-offer2 {
        position: absolute;
        top: 41%;
        left: 33%;
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #accesories {
        position: relative;
    }.accesories-img {
        width: 343.262px;
        height: 111px;
        flex-shrink: 0;
        filter: brightness(35%);
        background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
    }
    .accesories-text-offer1 {
        position: absolute;
        top: 23%;
        left: 25%;
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .accesories-text-offer2 {
        position: absolute;
        top: 36%;
        left: 27%;
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .products {
        width: 359px;
        height: 1920px;
        flex-shrink: 0;
    }

    .products-title {
        display: flex;
        justify-content: center;
        color: #222;
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .products-paragraph {
        display: flex;
        justify-content: center;
        color: #9F9F9F;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: -15px;
    }

    .main {
        margin-top: 75px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 16px;

    }

    .block {
        width: 360px;
        height: 581px;
    }

    .photo-block {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
        background: #F7E4E2;
    }

    .overlay-text {
        display: flex;
        width: 139px;
        height: 44px;
        flex-shrink: 0;
        margin-left: 120px;
        margin-top: -230px;
        z-index: 0;
        opacity: 0;
    }

    .img-buy {
        width: 26.005px;
        height: 23.974px;
        flex-shrink: 0;
    }

    .text-buy {
        color: #FFF;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 10px;
        margin-top: 5px;
    }

    .photo-block:hover {
        filter: brightness(35%);
        background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
    }

    .photo-block:hover .overlay-text {
        opacity: 1;
    }


    .text-block {
        max-width: 360px;
        max-height: 162px;
        background: #F8F8F8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-top: 24px;
        padding-left: 16px;
        padding-bottom: 5px;
    }

    .img1 {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
    }

    .img2 {
        width: 141.943px;
        height: 400px;
        flex-shrink: 0;
        margin-top: 9px;
        margin-left: 108px;
        
    }

    .img3 {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
    }

    .img4 {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
    }

    .img5 {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
    }

    .img6 {
        width: 360px;
        height: 420px;
        flex-shrink: 0;
    }

    .img-txt {
        margin-top: 5px;
        width: 148.114px;
        color: #000;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .img-paragraph {
        margin-top: 5px;
        width: 314.743px;
        color: #5D5D5D;
        font-family: Lato-Light;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .img-price {
        margin-top: 5px;
        width: 52.457px;
        color: #F16D7F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }

    #button-browse-all-product{
        margin-top: 32px;
        margin-left: 74px;
        width: 212px;
        height: 80px;
        flex-shrink: 0;
        position: relative;
    }

    .button-txt {
        position: absolute;
        color: #F26376;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        top: 5%;
        left: 17%
    }
}