@font-face {
    font-family: Gilroy-Bold;
    src: url(fonts/gilroy-bold.ttf);
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url(fonts/gilroy-semibold.ttf);
}

@font-face {
    font-family: Gilroy-Medium;
    src: url(fonts/gilroy-medium.ttf);
}

.background {
    width: 1920px;
    height: 700px;
    flex-shrink: 0;
    background: #FFF;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 40px;
}

.logo {
    display: flex;
    width: 137px;
    height: 40px;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo-img {
    margin-top: 40px;
    width: 35px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid #000;
    margin-right: 14px;
}

.logo-txt{
    margin-top: 25px;
    width: 88px;
    height: 30px;
    display: flex;
}

.logo-txt1 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logo-txt2 {
    color: #F25822;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu {
    margin-top: 51px;
    display: flex;
    justify-content: space-around;
    width: 533px;
    height: 17px;
    flex-shrink: 0;
}

.home{
    text-decoration: none;
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-us {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.services {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.features {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.vector {
    text-decoration: none;
    margin-bottom: 2px;
    width: 6px;
    height: 3px;
    flex-shrink: 0;
}

.team {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blog {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact {
    text-decoration: none;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home-meta {
    margin-top: 124px;
    width: 522px;
    height: 374px;
    flex-shrink: 0;
}

.big-title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtitle1 {
    margin-top: 17px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-meta {
    margin-top: 37px;
    display: flex;
    justify-content: flex-start;
    width: 302px;
    height: 50px;
    flex-shrink: 0;
}

.watch {
    border: none;
    color: #AAA;
    background: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.start {
    border: none;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 40px;
}

.image {
    width: 610.735px;
    height: 372.904px;
    flex-shrink: 0;
    margin-top: 180px;
    margin-left: 60px;
}

.center {
    display: flex;
}

.brand {
    width: 1920px;
    height: 243px;
}

.brand-logo {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 50px;
    flex-shrink: 0;
    
}