@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Regular.ttf);
}

.desktop {
    width: 1600px;
    height: 2925px;
    background: #ffffff;
    border: 0.5rem outset rgb(72, 255, 0);
}

.bar {
    display: grid;
    align-items: center;
    grid-template-columns: 0.45fr 1fr 0.6fr;
    width: 1600px;
    height: 75px;
    flex-shrink: 0;
    background: #222;
}

.logo {
    margin-left: 260px;
}

.background {
    display: grid;
    align-items: center;
    grid-template-columns: 0.5fr 0.5fr;
    width: 1600px;
    height: 764px;
    flex-shrink: 0;
    background: #F1E4E6;
}

#title {
    width: 405px;
    height: 93.099px;
    flex-shrink: 0;
    position: relative;
}

.txt1 {
    position: absolute;
    top: -40%;
    left: 7%;
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.txt2 {
    position: absolute;
    top: 35%;
    left: 7%;
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.txt3 {
    position: absolute;
    top: 35%;
    left: 65%;
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer {
    margin-top: 100px;;
    margin-left: 200px;
    border: 0.5rem outset rgb(52, 182, 69);
    width: 1140px;
    height: 470px;
    flex-shrink: 0;
}

.top {
    display: grid;
    grid-template-columns: 1.1fr 1.1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 26px;
}

#women {
    position: relative;
}.women-img{
    filter: brightness(35%);
    background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
}
.women-text-offer1 {
    position: absolute;
    top: 35%;
    left: 37%;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.women-text-offer2 {
    position: absolute;
    top: 40%;
    left: 27%;
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#men {
    position: relative;
}.men-img{
    filter: brightness(35%);
    background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
}
.men-text-offer1 {
    position: absolute;
    top: 35%;
    left: 37%;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.men-text-offer2 {
    position: absolute;
    top: 40%;
    left: 33%;
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#kids {
    position: relative;
}.kids-img{
    filter: brightness(35%);
    background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
}
.kids-text-offer1 {
    position: absolute;
    top: 35%;
    left: 37%;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.kids-text-offer2 {
    position: absolute;
    top: 40%;
    left: 38%;
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#accesories {
    position: relative;
}.accesories-img{
    filter: brightness(35%);
    background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
}
.accesories-text-offer1 {
    position: absolute;
    top: 34%;
    left: 37%;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.accesories-text-offer2 {
    position: absolute;
    top: 42%;
    left: 37.5%;
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}