@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(fonts/Lato/Lato-Light.ttf);
}

.desktop {
    width: 1600px;
    height: 2925px;
    background: #ffffff;
}

.bar {
    display: grid;
    align-items: center;
    grid-template-columns: 0.45fr 1fr 0.6fr;
    width: 1600px;
    height: 75px;
    flex-shrink: 0;
    background: #222;
}

.logo {
    margin-left: 260px;
}

.background {
    display: grid;
    align-items: center;
    grid-template-columns: 0.5fr 0.5fr;
    width: 1600px;
    height: 764px;
    flex-shrink: 0;
    background: #F1E4E6;
}

#title {
    width: 405px;
    height: 93.099px;
    flex-shrink: 0;
    position: relative;
}

.txt1 {
    position: absolute;
    top: -40%;
    left: 7%;
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.txt2 {
    position: absolute;
    top: 35%;
    left: 7%;
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.txt3 {
    position: absolute;
    top: 35%;
    left: 67%;
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer {
    margin-top: 65px;;
    margin-left: 230px;
    width: 1140px;
    height: 470px;
    flex-shrink: 0;
}

.top {
    display: grid;
    grid-template-columns: 1.1fr 1.1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 26px;
}

#women {
    position: relative;
}.women-img {
    filter: brightness(35%);
    background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
}
.women-text-offer1 {
    position: absolute;
    top: 35%;
    left: 37%;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.women-text-offer2 {
    position: absolute;
    top: 41%;
    left: 27%;
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#men {
    position: relative;
}.men-img {
    filter: brightness(35%);
    background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
}
.men-text-offer1 {
    position: absolute;
    top: 35%;
    left: 37%;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.men-text-offer2 {
    position: absolute;
    top: 41%;
    left: 33%;
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#kids {
    position: relative;
}.kids-img {
    filter: brightness(35%);
    background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
}
.kids-text-offer1 {
    position: absolute;
    top: 35%;
    left: 37%;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.kids-text-offer2 {
    position: absolute;
    top: 41%;
    left: 38%;
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#accesories {
    position: relative;
}.accesories-img {
    filter: brightness(35%);
    background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
}
.accesories-text-offer1 {
    position: absolute;
    top: 34%;
    left: 37%;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.accesories-text-offer2 {
    position: absolute;
    top: 43%;
    left: 37.5%;
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.products {
    width: 1140px;
    height: 1395px;
    flex-shrink: 0;
    margin-top: 96px;
    margin-left: 230px;
}

.products-title {
    display: flex;
    justify-content: center;
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.products-paragraph {
    display: flex;
    justify-content: center;
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -15px;
}

.main {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

}

.block {
    width: 360px;
    height: 581px;
}

.photo-block {
    width: 360px;
    height: 420px;
    flex-shrink: 0;
    background: #F7E4E2;
}

.text-block {
    max-width: 360px;
    max-height: 162px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 24px;
    padding-left: 16px;
    padding-bottom: 5px;
}

.img1 {
    width: 360px;
    height: 420px;
    flex-shrink: 0;
}

.img2 {
    width: 141.943px;
    height: 400px;
    flex-shrink: 0;
    margin-top: 9px;
    margin-left: 108px;
    
}

.img3 {
    width: 360px;
    height: 420px;
    flex-shrink: 0;
}

.img4 {
    width: 360px;
    height: 420px;
    flex-shrink: 0;
}

.img5 {
    width: 360px;
    height: 420px;
    flex-shrink: 0;
}

.img6 {
    width: 360px;
    height: 420px;
    flex-shrink: 0;
}

.img-txt {
    margin-top: 5px;
    width: 148.114px;
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.img-paragraph {
    margin-top: 5px;
    width: 314.743px;
    color: #5D5D5D;
    font-family: Lato-Light;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.img-price {
    margin-top: 5px;
    width: 52.457px;
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

#footer {
    margin-top: 50px;
    margin-left: 455px;
    width: 212px;
    height: 48px;
    flex-shrink: 0;
    position: relative;
}

.button-txt {
    position: absolute;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 5%;
    left: 17%
}