@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(fonts/Lato/Lato-Light.ttf);
}

.desktop {
    width: 375px;
    height: 5367px;
    background: #ffffff;
}

.bar {
    display: grid;
    align-items: center;
    grid-template-columns: 0.27fr 0.6fr 0.1fr;
    width: 375px;
    height: 74px;
    flex-shrink: 0;
    background: #222;
}

.logo {
    width: 44px;
    height: 38px;
    margin-left: 16px;
}

.background {
    display: grid;
    align-items: center;
    grid-template-columns: 0.5fr 0.5fr;
    width: 375px;
    height: 363px;
    flex-shrink: 0;
    background: #F1E4E6;
}

#title {
    margin-left: 56px;
    width: 311px;
    height: 92px;
    flex-shrink: 0;
    position: relative;
}

.pink-bar {
    width: 12px;
    height: 61px;
    flex-shrink: 0;
}

.txt1 {
    position: absolute;
    top: -35%;
    left: 7%;
    color: #222;
    font-family: Lato;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.txt2 {
    position: absolute;
    top: 27%;
    left: 7%;
    color: #222;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.txt3 {
    position: absolute;
    top: 27%;
    left: 55%;
    color: #F16D7F;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 65px;
    width: 375px;
    height: 980px;
    flex-shrink: 0;
    margin-left: 10px;
}

.top {
    display: grid;
    grid-template-columns: 1fr;
}

#women {
    position: relative;
}.women-img {
    width: 343px;
    height: 247px;
    flex-shrink: 0;
    filter: brightness(35%);
    background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
}
.women-text-offer1 {
    position: absolute;
    top: 35%;
    left: 37%;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.women-text-offer2 {
    position: absolute;
    top: 41%;
    left: 27%;
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#men {
    position: relative;
}.men-img {
    width: 343px;
    height: 247px;
    flex-shrink: 0;
    filter: brightness(35%);
    background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
}
.men-text-offer1 {
    position: absolute;
    top: 35%;
    left: 37%;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.men-text-offer2 {
    position: absolute;
    top: 41%;
    left: 33%;
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#kids {
    position: relative;
}.kids-img {
    width: 343px;
    height: 247px;
    flex-shrink: 0;
    filter: brightness(35%);
    background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
}
.kids-text-offer1 {
    position: absolute;
    top: 35%;
    left: 32%;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.kids-text-offer2 {
    position: absolute;
    top: 41%;
    left: 33%;
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#accesories {
    position: relative;
}.accesories-img {
    width: 343.262px;
    height: 111px;
    flex-shrink: 0;
    filter: brightness(35%);
    background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
}
.accesories-text-offer1 {
    position: absolute;
    top: 23%;
    left: 25%;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.accesories-text-offer2 {
    position: absolute;
    top: 36%;
    left: 27%;
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.products {
    width: 359px;
    height: 1920px;
    flex-shrink: 0;
}

.products-title {
    display: flex;
    justify-content: center;
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.products-paragraph {
    display: flex;
    justify-content: center;
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -15px;
}

.main {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;

}

.block {
    width: 360px;
    height: 581px;
}

.photo-block {
    width: 360px;
    height: 420px;
    flex-shrink: 0;
    background: #F7E4E2;
}

.overlay-text {
    display: flex;
    width: 139px;
    height: 44px;
    flex-shrink: 0;
    margin-left: 120px;
    margin-top: -230px;
    z-index: 0;
    opacity: 0;
}

.img-buy {
    width: 26.005px;
    height: 23.974px;
    flex-shrink: 0;
}

.text-buy {
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    margin-top: 5px;
}

.photo-block:hover {
    filter: brightness(35%);
    background: lightgray 0px -23px / 101.944% 143.077% no-repeat;
}

.photo-block:hover .overlay-text {
    opacity: 1;
  }


.text-block {
    max-width: 360px;
    max-height: 162px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 24px;
    padding-left: 16px;
    padding-bottom: 5px;
}

.img1 {
    width: 360px;
    height: 420px;
    flex-shrink: 0;
}

.img2 {
    width: 141.943px;
    height: 400px;
    flex-shrink: 0;
    margin-top: 9px;
    margin-left: 108px;
    
}

.img3 {
    width: 360px;
    height: 420px;
    flex-shrink: 0;
}

.img4 {
    width: 360px;
    height: 420px;
    flex-shrink: 0;
}

.img5 {
    width: 360px;
    height: 420px;
    flex-shrink: 0;
}

.img6 {
    width: 360px;
    height: 420px;
    flex-shrink: 0;
}

.img-txt {
    margin-top: 5px;
    width: 148.114px;
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.img-paragraph {
    margin-top: 5px;
    width: 314.743px;
    color: #5D5D5D;
    font-family: Lato-Light;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.img-price {
    margin-top: 5px;
    width: 52.457px;
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

#footer {
    margin-top: 32px;
    margin-left: 74px;
    width: 212px;
    height: 80px;
    flex-shrink: 0;
    position: relative;
}

.button-txt {
    position: absolute;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 5%;
    left: 17%
}